html,body {
    margin: 0;
    font-family: "Courier New", Courier, monospace;
}
body
{
    display:flex;
    justify-content: center;
    align-items: center;
}
#mainWrapper
{
    display:flex;
    justify-content: center;
    align-items: center;
}
#s8PhoneScreen
{
    display:flex;
    justify-content: center;
    align-items: center;
    /* height:2960px;
    width:1440px; */
    height: 740px;
    width:360px;
}

#runningGameScreen
{
    background: darkslategrey;
    opacity: 1;
    height:100%;
    width:100%;
    text-align: center;
}

#exit
{
    position: absolute;
    top: 17px;
    left: 25px;
    height: 40px;
    width: 40px;
    font-size: 20px;
    color: white;
}

#settings
{
    position: absolute;
    top: 37px;
    left: 25px;
    height: 40px;
    width: 40px;
    font-size: 20px;
    color: white;
}

#gameNum
{
    position: absolute;
    top: 10px;
    left: calc(180px - 50px);
    height: 25px;
    width: 100px;
    font-size: 25px;
    text-align: center;
    color: white;
}
#matchScore
{
    position: absolute;
    top: 40px;
    left: calc(180px - 60px);
    height: 25px;
    width: 120px;
    font-size: 30px;
    color: white;
    text-align: center;
}

#clockAreaCover
{
    position: absolute;
    top:0px;
    right: 0px;
    height:80px;
    width:90px;
    z-index:4;
}

#matchTimeLabel
{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 15px;
    width: 80px;
    font-size: 12px;
    color: orange;
}

#matchTime
{
    position: absolute;
    top: 20px;
    right: 5px;
    height: 38px;
    width: 80px;
    font-size: 20px;
    color: white;
}

#GameTimeLabel
{
    position: absolute;
    top: 42px;
    right: 5px;
    height: 15px;
    width: 80px;
    font-size: 12px;
    color: orange;
}

#gameTime
{
    position: absolute;
    top: 55px;
    right: 5px;
    height: 38px;
    width: 80px;
    font-size: 20px;
    color: white;
}

#divider
{
    position: absolute;
    top: 80px;
    left:5px;
    border: 1px black solid;
    height: 0px;
    width: 350px;
}

.name
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 120px;
    border-radius: 5px;
    color: White;
    font-size: 23px;
    text-align: left;
    padding:5px;
    box-sizing: border-box;
}

#player1Side .name
{
    position: absolute;
    top: 100px;
    left: 10px;
    background: red;
}

#player2Side .name
{
    position: absolute;
    top: 100px;
    right: 10px;
    background: blue;
}

.score
{
    height: 120px;
    width: 120px;
    background: green;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    box-sizing: border-box;
    font-size: 80px;
    color:white;
}

#player1Side .score
{
    position: absolute;
    top: 145px;
    left: 10px;
}

#player2Side .score
{
    position: absolute;
    top: 145px;
    right: 10px;
}

.letCall
{
    height: 40px;
    width: 120px;
    background: rgb(214, 0, 0);
    border: 4px red solid;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    box-sizing: border-box;
    font-size: 21px;
    color:white;
}

#player1Side .letCall
{
    position: absolute;
    top: 295px;
    left: 10px;
}

#player2Side .letCall
{
    position: absolute;
    top: 295px;
    right: 10px;
}

.other
{
    height: 40px;
    width: 120px;
    background: silver;
    border: 4px gray solid;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    box-sizing: border-box;
    font-size: 25px;
    color:white;
}

#player1Side .other
{
    position: absolute;
    top: 355px;
    left: 10px;
}

#player2Side .other
{
    position: absolute;
    top: 355px;
    right: 10px;
}

.serveIndicator
{
    height: 120px;
    width: 120px;
    background: black;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    box-sizing: border-box;
}
.serveIndicator .left-dot
{
    position: relative;
    top: -30px;
    left:-12px;
    height: 10px;
    width: 10px;
    background: yellow;
    border-radius: 90px;
    box-sizing: border-box;

}
.serveIndicator .right-dot
{
    position: relative;
    top: -30px;
    left:-3px;
    height: 10px;
    width: 10px;
    background: yellow;
    border-radius: 90px;
    box-sizing: border-box;

}

.serveIndicator .side
{
    transform: translate(-50%, -50%);
    font-size: 50px;
    color:white;
    position: absolute;
    left: 50%;
    top: 50%;
}

#player1Side .serveIndicator
{
    position: absolute;
    top: 410px;
    left: 10px;
    display: none;
}

#player2Side .serveIndicator
{
    position: absolute;
    top: 410px;
    right: 10px;
    
}

#speechRecognitionBox
{
    position: absolute;
    top: 540px;
    left: 10px;
    height:20px;
    width:340px;
    background:gray;
    border: 3px darkgray solid;
    color: purple;
}

#undoBox
{
    position: absolute;
    top: 570px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:30px;
    width:340px;
    background:rgb(209, 209, 209);
    border: 3px rgb(255, 255, 255) solid;
    opacity: 0.5;
}
#undoText
{
    font-size: 25px;
    font-weight:300;
    position: absolute;
    top: 570px;
    left: 155px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:30px;
    color: black;
    z-index:2;
}





























#endMarker
{
    position: absolute;
    top: 612px;
    height:5px;
    width:360px;
    background: yellow;
}